{% macro question(id,qt,qd,ans,psy_id,upvotes) %}

<div
class="container rounded my-4"
style="
  background-color: rgb(248, 122, 77);
  border: 3px solid rgb(66, 7, 7);
"
>
    <div id="question" class="text-left py-1">
        <h4>
            {{ qt }}
        </h4>
    </div>
     <div id="answer">
         <h3>Question description : </h3>
        {{ qd }}
     </div>
    <div class="py-2 px-1 my-1 text-right">
    <span><i>-answered by </i><b>Psychiatrist name</b> </span>
    <span class="text-muted">3 weeks ago</span>
    </div>

    {% if ans!=None %}
    <div>
        <p>
        Answer:    {{ ans }}
        </p>
    </div>
    {% else %}
    <div>
        <p>
        Answer:    No answers Yet!!
        </p>
    </div>
    {% endif %}


</div>
<br><br>

{% endmacro %}













