{% extends "bootstrap/base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Konfess</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('conf') }}">ConfessPage</a></li>
        {% if not current_user.is_anonymous %}
        <li><a href="./logout">Logout</a></li>
        {% endif %}
        {% if current_user.has_role('admin') %}
        <li><a href="./admin/">Admin</a></li>
        {% endif %}
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('reg') }}">reg</a></li>
        {% endif %}
        <li><a href="{{ url_for('questions') }}">questions</a></li>
        {% if current_user.has_role('psycologist') %}
        <li><a href="{{ url_for('answers') }}">Answer these</a></li>
        {% endif %}
        {% if current_user.has_role('psycologist') %}
        <li><a href="{{ url_for('viewprofile',psy_id=current_user.id) }}">View_Profile</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
{% endblock %}