{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    confess_page
{% endblock %}

{% block head %}
{{ super() }}
<style>
    body{
        background-color:rgb(226, 123, 97);
    }
</style>
{% endblock %}

{% block content %}
<div class="p-3 mb-2 bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form action="{{ url_for('conf') }}" method="post">
                
                {{ form.hidden_tag() }}

                <div class="form-group">
                <br>
                <h1>
                    What's on your mind?
                </h1><br>
                <h4><i>
                Our certified psychologists will answer your queries. Don't worry, all information will be kept private.
                </i></h4><br>
                {{ render_field(form.conf_heading, class='form-control', placeholder='Whats troubling you?') }}

                </div>
                
                
                <div class="form-group">
                    {{ render_field(form.conf_desc, class='form-control', placeholder='Be as specific as possible, vent your feelings...') }}
                </div>
                <br>
                <button class="btn btn-dark" type="submit">Submit</button>
            </form>
        </div>
        </div>
    </div>
    
    </div>
        
{% endblock %}