{% extends "base.html" %}

{% block title %}
    Profile_Page
{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('setprofile') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group row">
            <div class="col-12">{{ form.name.label }}</div>
            {{ form.name(size=32) }}
            {% for err in form.name.errors %}
                <span style="color: red;">err</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="col-12">{{ form.about_me.label }}</div>
            {{ form.about_me(size=64) }}
            {% for err in form.about_me.errors %}
                <span style="color: red;">err</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="col-12">{{ form.phno.label }}</div>
            {{ form.phno(size=64) }}
            {% for err in form.phno.errors %}
                <span style="color: red;">err</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="col-12">{{ form.address.label }}</div>
            {{ form.address(size=64) }}
            {% for err in form.address.errors %}
                <span style="color: red;">err</span>
            {% endfor %}
        </div>
        {{ form.submit }}
    </form>
</div>
{{ super() }}
{% endblock %}