{% extends "base.html" %}
{% import "_quest.html" as quest %}

{% block title %}
Answer Page
{% endblock %}


{% block content %}
<div class="container">
    {% set counter=0 %}
    {% for q in questions %}
        {% if q.ans_text==None %}
        {% set counter=counter+1 %}
        <div>
            {{ quest.question(q.id,q.q_title,q.q_desc,q.ans_text,0) }}
            <form action="{{ url_for('answers',q_id=q.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <div class="col-12">{{ form.answer.label }}</div>
                    {{ form.answer(size=64) }}
                    {% for err in form.answer.errors %}
                        <span style="color: red;">err</span>
                    {% endfor %}
                </div>
                {{ form.submit }}
            </form>
        </div>
        {% endif %}
    {% endfor %}
    {% if counter==0 %}
    <div>
        <h2>You Answered Everything !!</h2>
    </div>
    {% endif %}
</div>
{% endblock %}