{% extends "base.html" %}

{% block title %}
    Profile_Page
{% endblock %}

{% block head %}

{{ super() }}
<style>
    .fo{
        font-family: 'Kanit', sans-serif;
        font-size: medium;
    }
</style>
<link rel="stylesheet" href="../static/css/style.css" />

{% endblock %}


{% block content %}


<section class="container fo">

    <div class="profile-grid my-1">
       <!-- Top -->
      <div class="profile-top bg-primary p-2">

        <span><i class="fa fa-user fa-5x" aria-hidden="true"></i></span>
        <h1 class="large">{{ my_info.first_name }} {{ my_info.last_name }}</h1>
        <h3>{{ my_info.qualification }}</h3>
        <p>{{ my_info.phno }}</p>
      </div>

      <!-- About -->
      <div class="profile-about bg-light p-2">
        <h2 class="text-primary">{{ my_info.first_name }}'s Bio</h2>
        <p>
            {{ my_info.about_me }}
        </p>
        <div class="line"></div>
      </div>

      <!-- Experience -->
      {% if my_info.experiance !=None %}
      <div class="profile-exp bg-white p-2 ">
        <h2 class="text-primary">Experience</h2>
        <h4 class="text-dark">
          {{ my_info.experiance }}
        </h4>
      </div>
      {% endif %}

      <!-- Education -->
      {% if my_info.education!=None %}
      <div class="profile-edu bg-white p-2">
        <h2 class="text-primary">Education</h2>
        <h4>
          {{ my_info.education }}
        </h4>
      </div>
      {% endif %}

      <!-- Address -->
      <div class="profile-github">
        <h2 class="text-primary my-1">
          Address
        </h2>
        <div class="repo bg-white p-1 my-1">
          <div>
            <h4><a href="#" target="_blank"></h4>
            <p>
                {{ my_info.address }}
            </p>
           <h4>Phone No</h4>
           <p>{{ my_info.phno }}</p>
          </div>
         
        </div>
        
      </div>
      <div class="row">
        <div class="col-auto fo">
          {% if not current_user.is_anonymous and current_user.has_role('psycologist') and my_info.id==current_user.id %}
          <button class="btn btn-success btn-lg"><a href="{{ url_for('setprofile',p_id=my_info.id) }}">Edit Profile</a></button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</body>

{{ super() }}
{% endblock %}